[Unit]
Description=Statusengine - Database shipper
After=syslog.target network.target mysql.service gearman-job-server.service

[Service]
User=root
Type=simple
Restart=on-failure
ExecStart=/opt/statusengine/cakephp/app/Console/cake statusengine_legacy -w -q
RestartSec=30

[Install]
WantedBy=multi-user.target

